<div class="product__info">
            <div class="product__image">
                        <div class="skeleton-background skeleton-product-image"></div>
            </div>
            <div class="details">
                        <div class="d-flex" style="display: flex;overflow-x: auto;">
                                    <div class="skeleton-background skeleton-product-variety-of-colors">
                                    </div>
                                    <div class="skeleton-background skeleton-product-variety-of-colors">
                                    </div>
                                    <div class="skeleton-background skeleton-product-variety-of-colors">
                                    </div>
                        </div>
                        <span class="skeleton-background skeleton-product-brand-name"></span>
                        <span class="skeleton-background skeleton-product-category"></span>
                        <span class="product__brand-colors"></span>
                        <span class="skeleton-background skeleton-product-price"></span>
                        <br>
                        <br>
            </div>
</div>