.footer {
  background: #1c2a2e;
}
mat-divider {
  background: #ba7b48;
}
.container p {
  text-align: center;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 25px;
}
.sec1,
.sec2,
.sec3 {
  padding-top: 20px;
  text-align: center;
}
.sec1 {
  margin-top: 60px;
}

.mat-h4 {
  color: #dbc295;
  font-weight: 500;
}
.mat-mini-fab {
  background: #ba7b48;
  color: #1c2a2e;
  margin-right: 20px;
}
span {
  color: #dbc295;
}
.break {
  display: none;
}
@media only screen and (max-width: 599px) {
  .mat-h4 {
    text-align: center;
  }
  .break {
    display: inline;
    text-align: start;
  }
  .top {
    margin-right: 0;
  }
}
.top {
  margin-right: 5px;
  transition: all 0.3s;
  margin-bottom: 50px;
}
.top:hover {
  transform: translateY(-6px);
  transition: all 0.3s;
}
.mat-form-field {
  margin-top: 20px;
  width: 240px;
}
.mat-raised-button {
  background: #ba7b48;
  color: #dbc295;
  margin-top: 10px;
}
.fab {
  margin-right: 15px;
  margin-top: 15px;
  color: #ba7b48;
}
.social a {
  transition: all 0.3s;
}
.social a:hover {
  transform: translateY(-6px);
  transition: all 0.3s;
}

.mat-form-field {
  margin-top: 40px;
}
::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #dbc295 !important;
  }
  .mat-form-field-label {
    color: #dbc295 !important;
  }
  input::-webkit-input-placeholder {
    color: #dbc295 !important;
  }
 
  .mat-tooltip {
    background-color: #dbc295 !important;
    color: #1c2a2e !important;
    font-size: 14px;
  }
}
