.footer {
  background: #1c2a2e;
  h3 {
    color: #dbc295;
    font-weight: 500;
  }
  span {
    color: #dbc295;
    text-align: left;
  }
  .brand-img {
    padding-top: 15px;
    margin-top: 40px;
    text-align: center;
  }
  .contact-us {
    padding-top: 15px;
    text-align: center;
    .mat-mini-fab {
      background: #ba7b48;
      color: #1c2a2e;
      margin-right: 20px;
    }
  }
  .subscribe {
    padding-top: 15px;
    text-align: center;
    .mat-form-field {
      margin-top: inherit;
      width: 240px;
    }
    .mat-raised-button {
      background: #ba7b48;
      color: #dbc295;
      margin-top: 10px;
    }
    .social a {
      transition: all 0.3s;
      &:hover {
        transform: translateY(-6px);
        transition: all 0.3s;
      }
      .fab {
        margin-right: 15px;
        margin-top: 15px;
        color: #ba7b48;
      }
    }
  }

  @media (max-width: 599px) {
    h3 {
      text-align: center;
    }
    .top {
      margin-right: 0;
    }
    span {
      text-align: justify;
    }
  }
  .top {
    margin-right: 5px;
    transition: all 0.3s;
    margin-bottom: 50px;
    &:hover {
      transform: translateY(-6px);
      transition: all 0.3s;
    }
  }

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: #dbc295 !important;
    }
    .mat-form-field-label {
      color: #dbc295 !important;
    }
    input::-webkit-input-placeholder {
      color: #dbc295 !important;
    }
  }
}

mat-divider {
  background: #ba7b48;
}
.footer-bottom {
  background: #1c2a2e;
  display: flex;
  justify-content: space-evenly;
  p {
    text-align: center;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 25px;
  }
}
