// .container {
//   .mat-headline {
//     font-family: "Titillium Web", sans-serif;
//   }
// }
.mat-form-field {
  width: 250px;
}
.mat-card {
  width: 300px;
  text-align: center;
}
.btn-signup {
  display: block;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
