img {
  display: block;
  height: auto;
  max-width: 100%;
}

.product-page {
  display: flex;
}

.img-display {
  flex-grow: 1;
  // width: 100%;
}

.thumb {
  margin: 0 0.25rem 0.25rem 0;
  width: 120px;
  transition: opacity 0.25s ease-out;
  border: 2px solid transparent;
}

.thumb:hover,
.thumb.active {
  border: 2px solid black;
}

.zoom {
  display: inline-block;
}
