<!-- <section class="product-page">
            <div class="thumbnails">
                        <div class="thumb active">
                                    <a [href]="product.image">
                                                <img [src]="product.image">
                                    </a>
                        </div>
                        <div class="thumb">
                                    <a
                                                href="https://assets.adidas.com/images/h_2000,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/6e8fcc6d465b47c0b8a7ac8a01165867_9366/Terrex_AX3_Hiking_Shoes_Szary_FX4577_01_standard.jpg">
                                                <img
                                                            src="https://assets.adidas.com/images/h_2000,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/6e8fcc6d465b47c0b8a7ac8a01165867_9366/Terrex_AX3_Hiking_Shoes_Szary_FX4577_01_standard.jpg">
                                    </a>
                        </div>
                        <div class="thumb">
                                    <a
                                                href="https://assets.adidas.com/images/h_2000,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/6e0146df957c4f82ba1fac01012ece3d_9366/Terrex_AX3_Hiking_Shoes_Czern_FX4575_01_standard.jpg">
                                                <img
                                                            src="https://assets.adidas.com/images/h_2000,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/6e0146df957c4f82ba1fac01012ece3d_9366/Terrex_AX3_Hiking_Shoes_Czern_FX4575_01_standard.jpg">
                                    </a> 
                        </div>
            </div>
            <div class="img-display">
                        <span class="zoom">
                                    <img [src]="product.image">
                        </span>
            </div>
</section> -->