.details {
  padding-top: 0;
  font-size: 10px;
}
.hori-line {
  padding: 20px;
}
.brand-name {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
}
.brand-price {
  font-weight: 500;
  font-size: 15px;
  color: black;
}
.brand-details {
  font-size: 14px;
  margin-bottom: 0;
}
.material-icons {
  font-size: 18px;
  margin: 7px;
}

.mat-form-field {
  width: 100px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 26px;
}

@media only screen and (max-width: 600px) {
  .mat-list-item-content {
    display: flex;
    flex-direction: column;
  }
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-form-field-flex {
  cursor: pointer;
  margin-left: 2px;
}

.right {
  margin-top: 50px;
}
@media only screen and (max-width: 600px) {
  .right {
    margin-top: 0;
  }
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding-left: 25px;
}

// "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",