<div class="error-img">
            <img src="assets/img/error-page.jpg">
            <button class="button-pushable" (click)="backToHome()">
                        <span class="button-edge"></span>
                        <span class="button-front text">
                                    <span>Back To Home</span>
                                    <span class="material-icons-outlined btn">
                                                chevron_right
                                    </span>
                        </span>
            </button>
            <br>
</div>