.dashboard-container {
  position: relative;
}
.dashboard-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

th {
  text-transform: uppercase;
}

td {
  text-transform: capitalize;
}

.img {
  height: 50px;
  width: 50px;
  border-radius: 0.75rem;
  vertical-align: middle;
  padding: 5px;
}

.dashboard-table-container {
  position: relative;
  min-height: 200px;
  overflow: auto;
}
::ng-deep {
  .delivered {
    background-color: #78ed78 !important;
  }
  .shipped {
    background-color: #fb7a7e !important;
  }
  .processing {
    background-color: #fbe62e !important;
  }
  .cancelled {
    background-color: #cdcdcd !important;
  }
}
