.wrapper {
  .category-div {
    .looking-for {
      font-weight: 700;
      text-transform: uppercase;
    }
    .category {
      display: grid;
      grid-template-columns: repeat(3, 32%);
      &:last-child:not(.kids) {
        column-gap: 2%;
      }
      margin-bottom: 10px;

      img {
        width: 100%;
      }
      a {
        text-decoration: none;
        color: black;
      }
      h1 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        text-align: center;
        padding: 5px;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 2px;
        align-items: center;
        width: 100px;
        position: relative;
        top: -60px;
        left: 13px;
        padding: 5px;
        background: white;
        &:hover {
          color: #ba7b48;
          cursor: pointer;
        }
        .arrow-icon {
          vertical-align: -7px;
          margin-left: 5px;
        }
      }
    }
  }

  .recommended-div {
    section {
      display: flex;
      justify-content: space-between;
      .recommended,
      .see-more-product a {
        font-weight: 700;
        text-transform: uppercase;
        color: black;
      }
    }
  }
}

// .product {
//   display: grid;
//   &__brand-colors-images {
//     display: none;
//   }
// }
