<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="brand-img">
        <img src="assets/img/footer2.png">
      </div>
      <div class="contact-us">
        <mat-list-item>
          <h3 class="contact">CONTACT US</h3>
        </mat-list-item>
        <mat-list role="list">
          <div class="contact-details">
            <mat-list-item>
              <a mat-mini-fab
                href="https://www.google.com/maps/place/Vikram+Boot+House,+Gondpipri/@19.7189543,79.6882002,19z/data=!4m5!3m4!1s0x0:0x363616e4a981aded!8m2!3d19.7189543!4d79.6887247"
                target="_blank">
                <mat-icon>room</mat-icon>
              </a><span>Gondpipari, Maharashtra 442702, India</span>
            </mat-list-item>
            <mat-list-item>
              <a mat-mini-fab href="https://www.whatsapp.com/" target="_blank">
                <mat-icon>call</mat-icon>
              </a><span>+91 8999912022</span>
            </mat-list-item>
            <mat-list-item>
              <a mat-mini-fab href="https://mail.google.com/" target="_blank">
                <mat-icon>email</mat-icon>
              </a><span>ingolevikram195@gmail.com</span>
            </mat-list-item>
          </div>
        </mat-list>
      </div>
      <div class="subscribe">
        <mat-list role="list">
          <mat-list-item>
            <h3>SUBSCRIBE NEWSLETTER</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field appearance="outline" color="primary">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Your Email" />
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <button mat-raised-button color="accent">SUBSCRIBE</button>
          </mat-list-item>
          <mat-list-item class="social">
            <a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a target="_blank" href="https://web.whatsapp.com/"><i class="fab fa-whatsapp-square fa-2x"></i></a>
            <a target="_blank" href="https://twitter.com"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
            <div class="top">
              <button mat-mini-fab matTooltip="GO UP" matTooltipPosition="left" (click)="goTop()">
                <mat-icon>north</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="footer-bottom">
      <p>All rights reserved to Vikram Boot House | Copyright ©2020.</p>
    </div>
  </div>
</footer>