/* You can add global styles to this file, and also import other style files */
@import "material-icons/iconfont/material-icons.css";
// @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
// @font-face {
//   font-family: tana;
//   src: url(assets/Titillium_Web/TitilliumWeb-Regular.ttf) format("truetype");
// }
// .tana {
//   font-family: tana;
// }
html,
body {
  height: 100%;
  margin: 0;
  font-family: tana;
  // font-family: "Titillium Web", sans-serif;
}
.btn-default {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-primary {
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 600;
}
.owl-theme .owl-dots .owl-dot span {
  position: relative;
  top: -36px;
}
::-webkit-scrollbar {
  height: 12px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 20px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
  width: 100%;
  .content {
    overflow: hidden;
    padding: 0;
    // margin: 6px 0 0 0;
  }
  // @media (min-width: 600px) {
  //   .content {
  //     margin: 64px 0 0 0;
  //   }
  // }
  @media (min-width: 960px) {
    .content {
      padding: 0 30px;
    }
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 33%;
  transform: translateY(-50%);
}
.owl-prev {
  left: -20px;
}
.owl-next {
  right: -20px;
}
.owl-next,
.owl-prev {
  background: white !important;
  color: black !important;
  border: 1px solid !important;
  border-radius: 0 !important;
  &:hover {
    background: white;
    color: black;
  }
  .material-icons-outlined {
    padding: 7px;
    top: 50%;
    left: 50%;
  }
}
@media (max-width: 560px) {
  .owl-next,
  .owl-prev {
    display: none !important;
  }
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: #000;
  opacity: 0.75 !important;
}
